@charset "UTF-8";

@media (min-width: 768px) {
    #login {
        max-width: 900px;
        display: flex;
    }

    #imagem {
        width: 50%;
        height: auto;
        border-radius: 20px 0 0 20px;
    }

    #formulario {
        width: 50%;
    }
}
