@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #1A0F2E, #F2F4F7);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagen {
        float: left;
        width: 30%;
        height: 100%;

        background: #05060A url(../imagens/bld.png) no-repeat;
        background-size: cover;
        background-position: center top;

    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
        body {
        background-image: linear-gradient (to top, #1A0F2E, #F2F4F7);
    }
    
    section#login {
        width: 950px;
    } 

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        background: #05060A url(../imagens/bld.png) no-repeat;
        background-size: cover;
        background-position: center right

    }
    .campo {
        text-align: center;
    }

}