@charset "UTF-8";

/*  Fundo da página: #F2F4F7
    Box de login: #FFFFFF ou #D9DEE5
    Texto: #2B2E34
    Botão Login: #1F3A5F
    Hover do botão: #5DA9E9           */ 

    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    body, html {
        background-image: linear-gradient(to top, #1A0F2E, #F2F4F7);
        height: 100vh;
        width: 100vw;
    }

    main {
        position: relative;
        height: 100vh;
        width: 100vw;
    }


    section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        background-color: white;
        width: 280px;
        height: 500px;
        border-radius: 20px;
        box-shadow: opx 0px 10px rgba(0, 0, 0, 0.479);

        transition: width .3s, height .3s;
        transition-timing-function: ease;
    }

    section#login > div#imagem {
        display: block;
        background: #05060A url(../imagens/bld.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 200px;
    }

    section#login > div#formulario {
        display: block;
        padding: 5px;
    }

    div#formulario > h1 {
        text-align: center;
        margin-bottom: 5px;
    }

    .botao {
        border: 2px solid #333;
        padding: 3px 6px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        display: inline-block;
    }
    
    .botão:hover {
        background-color: #333;
        color: #fff;
        transition: 0.3s;
    }
    
    .campo {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        color: white;
        border: none;
        cursor: pointer;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
        background-color: #1F3A5F;
        border-radius: 5px;
    }

    .campo input {
        margin-bottom: 4px;
    }

    #formulario p {
        margin-bottom: 5px;
    }

    div.campo >label {
        display: none;

    }

    form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 45px;
        background-color: #1F3A5F;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form > input[type=submit]:hover {
        background-color: #182d4bd0;
    }

    form > a.bottao {
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 45px;
        padding-top: 11px;
        margin-top: 5px;
        background-color: white;
        color: #1F3A5F;
        border: 2px solid #182d4bd0;
        border-radius: 7px;
        text-decoration: none;
    }

    form > a.bottao:hover {
        background-color: #1F3A5F;
        color: white;
    }

    form > a.bottao > i {
        font-size: 0.8em;
    }